body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    padding-top: 15%;
}
.clock{
    position: relative;
    width: 500px;
    height: 500px;
    border: 20px solid black;
    margin: 0 auto;
    border-radius: 50%;
}
.point{
    width: 10px;
    height: 10px;
    background-color: rgb(35, 32, 32);
    border-radius: 50%;
    position: absolute;
    top: 245px;
    left: 240px;
}
.num{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: absolute;
}
#num1{
    top: 40px;
    right: 130px;
}
#num2{
    top: 125px;
    right: 45px;
}
#num3{
    top: 235px;
    right: 10px;
}
#num4{
    top: 345px;
    right: 45px;
}
#num5{
    top: 430px;
    right: 130px;
}
#num6{
    bottom: 10px;
    left: 240px;
}
#num7{
    top: 430px;
    left: 130px;
}
#num8{
    top: 345px;
    left: 45px;
}
#num9{
    top: 235px;
    left: 10px;
}
#num10{
    top: 125px;
    left: 45px;
}
#num11{
    top: 40px;
    left: 130px;
}
#num12{
    top: 10px;
    left: 240px;
}
/* /* .seconds{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    transform: translate(-50%, -100%);
} */
/* .sechand{
    position: relative;
}  */
/* .sechand .hand{
    width: 4px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 200px;
    transform-origin: bottom;
} */
/* .sechand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: red;
    transform: rotate(180deg);
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    left: 190px;
    top: -7px;
} */
.minutes{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px;
    left: 75px;
    border-radius: 50%;
}
.minhand{
    position: relative;
}
.minhand .hand{
    width: 4px;
    height: 175px;
    background-color: rgb(44,46,180);
    position: absolute;
    left: 174px;
    transform-origin: bottom;
}
/* .minhand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: rgb(44,46,180);
    transform: rotate(180deg);
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    left: 166px;
    top: -7px;
} */
 .hours{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}
.hourhand{
    position: relative;
}
.hourhand .hand{
    width: 4px;
    height: 150px;
    background-color: rgb(18, 18, 20);
    position: absolute;
    left: 148px;
    transform-origin: bottom;
}
/* .hourhand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: rgb(18, 18, 20);
    transform: rotate(180deg);
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    left: 140px;
    top: -7px;
} */